@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-publicSans;
    font-size: 15px;
    line-height: 28px;
    background-color: #edf3f8;
    overflow-x: hidden;
    position: relative;
  }

  section {
    width: 87.2%;
    margin-left: auto;
    margin-right: auto;
  }
  *,
  ::after,
  ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.18px;
    font-weight: 400;
  }

  .btn {
    @apply disabled:opacity-[0.5]  py-4 px-4 font-[700]  leading-[17.63px]  space-x-[-0.115385px] shadow-buttonShadow rounded-[24px] transition-colors duration-150;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-accent;
  }
  .btn-normal {
    @apply bg-transparent text-secondary hover:bg-secondary hover:text-white border-solid border-secondary border-[1px];
  }

  .btn-secondary {
    @apply bg-mirageBlue text-white border-solid border-[1px] border-white hover:bg-white hover:text-mirageBlue;
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 48px;
      line-height: 56px;
    }
    h2 {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.25px;
    }
    section,
    nav {
      width: 89%;
    }
  }
  @media screen and (min-width: 1024) {
    section,
    nav {
      width: 66%;
    }
  }
  @media screen and (min-width: 1444px) {
    h1 {
      font-size: 72px;
      line-height: 72px;
    }
    section,
    nav {
      width: 77%;
    }
  }
}

@layer components {
  /* .list-style-image {
  list-style-image: url('./assets/shared/desktop/icon-check.svg');
} */
}
